:root[data-tm-layout=dark] {
  --dark-color1: #111111;
  --dark-color2: #222429;
  --dark-color3: #2b242b;
  --theme-color-white: var(--dark-color1);
  --theme-color-white-rgb: 28, 30, 34;
  --theme-color-light: var(--dark-color2);
  --theme-color-gray: var(--dark-color3);
  --theme-color-silver: #292929;
  --theme-color-dark: #ccc;
  --theme-color-dark2: #ddd;
  --body-color: var(--dark-color1);
  --headings-color: #fff;
  --link-color: #ffffff;
  --link-hover-color: #ffffff;
}