
.accordion-box {
    position: relative;
    .block {
        position: relative;
        background-color: #F0EDFD;
        margin-bottom: 20px;
        border-radius: 100px;
        @include transition(all 300ms ease);
        &.active-block {
            border-radius: 20px !important;
        }
        .acc-btn {
            position: relative;
            color: var(--theme-color-dark);
            font-family: var(--heading-font-family);
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            padding: 26px 30px;
            padding-left: 76px;
            text-transform: capitalize;
            @include transition(all 500ms ease);
            @include media-breakpoint-down(sm){
                padding: 23px 30px;
                padding-left: 60px;
            }
            .icon {
                position: absolute;
                top: 13px;
                left: 13px;
                width: 45px;
                height: 45px;
                font-size: 18px;
                border-radius: 50%;
                @include flex-center;
                color: var(--theme-color-light);
                background-color: var(--theme-color3);
                @include transition(all 500ms ease);
                @include media-breakpoint-down(sm){
                    top: 16px;
                    width: 35px;
                    height: 35px;
                }
                &:before {
                    position: relative;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    @include overlay;
                    transform: scale(0);
                    opacity: 0;
                    border-radius: 50%;
                    background: var(--gradient-1);
                    @include transition(all 300ms ease);
                }
            }
            &.active {
                color: var(--theme-color1);
                padding-bottom: 15px;
                .icon {
                    &:before {
                        content: "\f068";
                    }
                    &:after {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
        .acc-content {
            position: relative;
            display: none;
            .content {
                position: relative;
                padding: 0 30px 30px 76px;
                @include media-breakpoint-down(sm){
                    padding-left: 60px;
                }
                .text {
                    display: block;
                    font-size: 15px;
                    line-height: 30px;
                    font-weight: 500;
                    margin-bottom: 0;
                    @include media-breakpoint-down(sm){
                        line-height: 26px;
                    }  
                }
            }

            &.current {
                display: block;
            }
        }
    }
}