
/***

====================================================================
    Marquee Section
====================================================================

***/


.marquee {
  position: relative;
  --duration: 30s;
  --gap: 0px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 30px;
  &.slide-right { 
    transform: scaleX(-1);
    .testimonial-block-new {
      transform: scaleX(-1);
    }
  }
  .marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;      
    @include media-breakpoint-down (xxxxl){
      gap: 30px;
    }
    .testimonial-block-new{
      max-width: 520px;
      width: 100%;
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
.marquee-section{
  .outer-box{
    background-color: var(--theme-color-dark);
    border-radius: 50px;
    overflow: hidden;
    padding: 120px 50px 90px;
    position: relative;
    @include media-breakpoint-down(xl) {
      padding: 120px 30px 90px;
    }
    &:before{
      background-image: url(../images/background/home6-testimonial-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}
.marquee-section-2 {
  border-top: 1px solid rgba(0, 0, 0, 0.20);
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  padding: 45px 0;
  [data-tm-layout="dark"] & {
    border-color: rgb(var(--theme-color-white-rgb), 0.1);
  }
}