/*** 

====================================================================
    Project Section
====================================================================

***/
.ks-project {
  &-area {
    padding-top: 110px;
    padding-bottom: 40px;
    & .ks-section-title-wrap {
      margin-bottom: 50px;
    }
  }
  &-thumb {
    & img {
      border-radius: 20px;
    }
  }
  &-item {
    position: relative;
    margin-bottom: 80px;
    @include background();
    border-radius: 50px;
  }
  &-title { 
    margin-bottom: 20px;      
    @include media-breakpoint-down(xl) {
      font-size: 22px;
    } 
    @include media-breakpoint-down(lg) {
      font-size: 25px;
    }
    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin-right: 35px;
      & br {
        display: none;
      }
    }
  }
  &-btn {
    & a {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &-content-wrap {
    margin: 50px;
    display: inline-block;
    padding: 65px 60px;
    z-index: 1;
    overflow: hidden; 
    cursor: pointer;
    position: relative;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    @include media-breakpoint-down(xl) {
      padding: 45px;
    }
    @include media-breakpoint-down(md) {
      padding: 30px 15px;
      margin: 35px 20px;
    }
    @include media-breakpoint-only(sm) {
      margin: 45px;
      padding: 50px 40px;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      z-index: -1;
      border-radius: 50px;
      background-color: var(--theme-color-white);
      -webkit-mask-image: url(../images/project/mask.png);
      -webkit-mask-size: cover;
      -webkit-mask-position: top right;
      -webkit-mask-repeat: no-repeat;
      @include media-breakpoint-down(md) {
        mask-image: unset;
      } 
    }
    & > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 200%;
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase;
      color: var(--theme-color1);
    }
    & p {
      margin-bottom: 30px;
      @include media-breakpoint-down(md) {
        font-size: 13px;
        line-height: 24px;
        & br {
          display: none;
        }
      }
    }
    & .ks-btn-black {
      padding: 16px 35px;
      color: var(--theme-color-white);
      background-color: var(--gray-color3);
      @include media-breakpoint-down(md) {
        padding: 12px 20px;
      }
      &:hover{
        color: var(--theme-color-white);
        background-color: var(--theme-color1);
      } 
    }
  }
  &-arrow {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-down(md) {
      top: 15px;
      right: 15px;       
    }
    & a {
      display: inline-block;
      height: 100px;
      width: 100px;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: var(--theme-color-dark);
      background-color: var(--theme-color-yellow);
      & svg {
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(xl) {
          width: 25px;
        }
        @include media-breakpoint-down(md) {
          width: 18px;
        }
      }
      @include media-breakpoint-down(xl) {
        height: 85px;
        width: 85px;
        line-height: 85px;
      }
      @include media-breakpoint-down(md) {
        height: 55px;
        width: 55px;
        line-height: 55px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transform: scale(0);
        @include transition(all .3s ease);
        background-color: var(--theme-color-dark);
      }
      &:hover {
        color: var(--theme-color-white);
        &::after {
          transform: scale(1);
        }
      } 
    }
  }
}

.ks-project-2 {
  &-area {
    overflow: hidden;
    padding-bottom: 260px;
    @include media-breakpoint-down(xxxl) {
      padding-bottom: 160px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
    }
    & .ks-section-title-wrap {
      margin-bottom: 55px;
    }
    &.home7-style{
      padding-top: 25px;
      @media (max-width: 1299.98px){
        padding-top: 120px;
      }
    }
  }
  &-thumb {
    border-radius: 20px;
    overflow: hidden;
    & img {
      border-radius: 20px;
      transition: 1.3s all ease;
      width: 100%;
    }
  }
  &-content-box {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: 0.5s;
    display: inline-block;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: perspective(250px) rotateY(90deg);
    transform: perspective(250px) rotateY(90deg);
    & span {
      font-weight: 500;
      font-size: 12px;
      display: inline-block;
      padding: 0 30px;
      text-transform: uppercase;
      color: var(--theme-color-dark);
      background-color: var(--theme-color-yellow);
      border-radius: 20px 50px 50px 0;
    }
    & .ks-project-arrow {
      position: static;
      margin-left: 35px;
      line-height: 1;
      & a {
        height: 57px;
        width: 57px;
        line-height: 57px;
        color: var(--theme-color-white);
        background-color: var(--theme-color1);
        @include media-breakpoint-down (md) {
          height: 40px;
          width: 40px;
          line-height: 37px;
        }
        & svg {
          @include media-breakpoint-down (md) {
            width: 14px;                    
          }
        }
      }
    }
  }
  &-content {
    border-radius: 0 50px 50px 20px;
    padding: 10px 30px;
    padding-right: 10px;
    margin-top: 5px;
    background-color: var(--theme-color-white);
    & .ks-project-title {
      margin-bottom: 0;
      @include media-breakpoint-down(xxxl) {
        font-size: 17px;            
      }
      @include media-breakpoint-down(md) {
        font-size: 15px;
        margin-right: 10px;            
      }
    }
  }
  &-active {
    margin: 0 -40px;
    @include media-breakpoint-down(lg) {
      margin: 0;
    }
  }
  &-item {
    position: relative;
    overflow: hidden;
    &:hover {
      & .ks-project-2-content-box {
        -webkit-transform: perspective(250px) rotateY(0deg);
        -khtml-transform: perspective(250px) rotateY(0deg);
        -moz-transform: perspective(250px) rotateY(0deg);
        -ms-transform: perspective(250px) rotateY(0deg);
        -o-transform: perspective(250px) rotateY(0deg);
        transform: perspective(250px) rotateY(0deg);
      }
      & .ks-project-2-thumb {
        & img {
          transform: scale(1.2);
        }
      }
    }
  }
}


/***

====================================================================
    Project Section Two
====================================================================

***/
.project-section-two{
  padding-bottom: 160px;
  padding-top: 120px;
  position: relative;
  @include media-breakpoint-down(lg){
    padding-top: 60px;
  }
  @include media-breakpoint-down(md){
    padding-bottom: 120px;
  }
  &.home5-style{
    padding-bottom: 120px;
    @include media-breakpoint-down(xl){
      padding-bottom: 40px;
    }
  }
  &.home8-style{
    padding-bottom: 12px;
    @include media-breakpoint-down(xl){
      padding-bottom: 10px;
      padding-top: 120px;
    }
  }
}
.project-block-two {
  margin-bottom: 30px;
  position: relative;
  .inner-box{
    border-radius: 50px;
    cursor: pointer;
    max-height: 558px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(md){
      max-height: inherit;
      overflow: visible;
    }
    @include media-breakpoint-down(sm){
      padding: 15px;
    }
    .image-box{
      overflow: hidden;
      position: relative;
      img{
        @include transition(all 1200ms ease);
      }
    }
    .content-box{
      border-radius: 50px;
      max-width: 488px;
      overflow: hidden;
      position: absolute;
      right: 50px;
      top: 90px;
      @include media-breakpoint-down(md){
        border-radius: 0;
        max-width: inherit;
        position: relative;
        right: 0;
        top: 0;
      }
      .content-inner{
        max-width: 488px;
        padding: 60px;
        position: relative;
        z-index: 0;
        @include media-breakpoint-down(md){
          max-width: inherit;
          padding: 40px 30px 30px;
        }
        @include media-breakpoint-down(sm){
          padding: 30px 0 0;
        }
        &::before{
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
          background-color: var(--theme-color-white);
          -webkit-mask-image: url(../images/resource/project-bg-mask2.png);
          -webkit-mask-size: cover;
          -webkit-mask-position: top right;
          -webkit-mask-repeat: no-repeat;
          @include media-breakpoint-down(md){
            mask-image: none;
          }
        }
      }
    }
    .arrow-icon{
      background: transparent;
      position: absolute;
      right: 3px;
      top: 4px;
      @include media-breakpoint-down(sm){
        display: none;
      }
      .icon{
        background-color: var(--theme-color-yellow);
        border-radius: 50%;
        color: var(--theme-color-dark);
        display: inline-block;
        font-size: 32px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        width: 100px;
      }
    }
    .category{
      color: var(--theme-color1);
      font-family: var(--body-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.1em;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    .title{
      font-family: var(--heading-font-family);
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 25px;
      max-width: 80%;
    }
    .text{
      color: var(--text-color2);
      font-family: var(--body-font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      position: relative;
    }
    &:hover{
      .image-box{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
}



/***

====================================================================
    Project Section Three
====================================================================

***/
.project-section-three{
  position: relative;
  .shape-image1 {
    background-size: cover;
    left: 0;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 100%;
    z-index: 0;
  }
}

.project-block-three {
  border-radius: 30px 30px 0 0;
  margin-bottom: 74px;
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    &:hover {
      .image-box {
        .image {
          img {
            &:first-child{
              transform: translateX(0) scaleX(1);
              opacity: 1;
              filter: blur(0);
            }
            &:nth-child(2){
              transform: translateX(-50%) scaleX(2);
              opacity: 0;
              filter: blur(10px);
            }
          }
        }
      }
      .content-box {
        .title {
          color: var(--theme-color1);
        }
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      border-radius: 30px;
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      img {
        border-right: 30px;
        position:relative;
        width:100%;
        display:block;
        transition:all 500ms ease;
        &:first-child{
          position:absolute;
          left:0px;
          top:0px;
          right:0px;
          bottom:0px;
          z-index:1;
          transform: translateX(50%) scaleX(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
  }
  .content-box {
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
    .title {
      color: var(--theme-color-dark2);
      font-family: var(--heading-font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
      @include media-breakpoint-down(lg){
        font-size: 24px;
      }
      &:hover {
        color: var(--theme-color1);
      }
    }
    .text {
      margin-bottom: 10px;
    }
  }
}

/***

====================================================================
    Project Section Four
====================================================================

***/

.project-section-four{
  background-color: rgba(var(--theme-color1-rgb), .1);
  padding: 120px 0 90px;
  position: relative;
  .outer-box{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    @include media-breakpoint-down(xxl){
      margin: 0;
    }
    @include media-breakpoint-down(lg){
      flex-wrap: wrap;
      padding: 0;
    }
  }
}

@mixin list-reset {
  .image-box{
    .image{
      &:before{
        opacity: .3;
        transform: scale(1);
      }
    }
  }
  .icon{
    background-color: var(--theme-color-light);
    color: var(--theme-color-dark);
  }
  .content-box{
    .title{
      opacity: 1;
      transform: translate(0);
      transition-delay: 300ms;
    }
    .price{
      opacity: 1;
      transform: translate(0);
      transition-delay: 400ms;
    }
  }
  .content-box-hover{
    .title{
      opacity: 0;
      transform: translateY(100);
      transition-delay: 00ms;
    }
    .text{
      opacity: 0;
      transform: translateY(100);
      transition-delay: 00ms;
    }
  }
}

.project-block-four{
  flex: 1;
  min-height: 470px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 30px;
  position: relative;
  will-change: flex;

  transition: .8s cubic-bezier(.29,0,.2,1);
  @include media-breakpoint-down(lg){
    width: 50%;
    flex: 0 0 50%  !important;
    padding: 0 15px;
    margin-left: 0;
    margin-right: 0;
  }
  @include media-breakpoint-down(md){
    width: 100%;
    flex: 0 0 100% !important;
  }
  @include media-breakpoint-down(sm){
    padding: 0;
  }
  &:hover,
  &.active {
    flex: 2;
    .image-box {
      .image{
        &::after{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .inner-box {
      @include list-reset;
    }
  }
  .inner-box {
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(lg){
      @include list-reset;
    }
    &:hover {
      @include list-reset;
    }
  }
  .image-box {
    position: relative;
    @include transition(all 300ms ease);
    .image {
      position: relative;
      margin-bottom: 0;
      &::after{
        background: rgba(var(--theme-color-dark-rgb), 0.5);
        border-radius: 30px;
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        @include transition(all 300ms ease);
        width: 100%;
        z-index: 2;
        visibility: hidden;
        @include media-breakpoint-down(lg){
          opacity: 1;
          visibility: visible;
        }
      }
      img{
        border-radius: 30px;
        height: 561px;
        object-fit: cover;
        @include transition(all 300ms ease);
        width: 100%;
      }
    }
  }
  .content-box-hover{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px 30px;
    @include overlay;
    text-align: center;
    z-index: 2;
    .inner {
      display: flex;
      justify-content: center;
    }
    .title{
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 24px;
      margin-bottom: 0;
      -webkit-transform: rotate(180deg);
      -khtml-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      text-align: start;
      writing-mode: vertical-rl;
      @include transition(all 300ms ease);
    }
    .text{
      color: #cccccc;
      font-size: 16px;
      -webkit-transform: rotate(180deg);
      -khtml-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      writing-mode: vertical-rl;
      text-align: start;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      @include transition(all 300ms ease);
    }
  }
  .content-box{
    @include overlay;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 3;
    padding: 30px 0px 36px 50px;
    @include media-breakpoint-down(lg){
      padding-left: 20px;
    }
    @include media-breakpoint-down(sm){
      padding: 30px 15px 36px;
    }
    .title{
      color: var(--theme-color-white);
      font-size: 24px;
      font-weight: 700;
      margin-top: 5px;
      min-width: 315px;
      opacity: 0;
      transform: translateY(20px);
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xl){
        min-width: inherit;
      }
      @media (max-width: 375.98px){
        max-width: 90%;
      }
    }
    .price{
      color: var(--theme-color-white);
      opacity: 0;
      transform: translateY(20px);
      @include transition(all 300ms ease);
    }
  }
}
