/*** 

====================================================================
  step Section
====================================================================***/


.ks-step {
    &-icon {
        display: inline-block;
        height: 120px;
        width: 120px;
        line-height: 120px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--theme-color1);
        @include media-breakpoint-down(xl) {
            height: 90px;
            width: 90px;
            line-height: 90px;
        }
        & svg {
            @include media-breakpoint-down(xl) {
                width: 40px;            
            }
        }
    }
    &-number {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 700;
        color: var(--theme-color-dark);
        background-color: var(--theme-color-yellow);
        @include media-breakpoint-down(xl) {
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 20px;
        }
    }
    &-title {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 5px;
        @include media-breakpoint-down(xl) {
            font-size: 22px;
        }
    }
    &-bottom {
        margin: 0 13px;
        border-radius: 250px;
        padding: 10px 10px 10px 40px;
        border: 1px solid var(--gray-color3);
        @include media-breakpoint-down(xl) {
            margin: 0;
        }
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            border-radius: 20px;
            padding: 20px;
        }
        & h5 {
            @include media-breakpoint-down(xl) {
                font-size: 17px;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 15px !important;
            }
        }
    }
    &-area.pt-90 {
        @include media-breakpoint-down(xxl) {
            padding-top: 20px ;
        }
    }
    &-area{
        &-2{
            background-image: url(../images/background/home4-process-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            & .ks-section-subtitle,
            & .ks-section-title,
            & .ks-step-title{
                color: var(--theme-color-white);
            }
            &:before{
                background: rgba(255, 248, 38, 0.3);
                filter: blur(150px);
                bottom: 50px;
                content: "";
                height: 415px;
                position: absolute;
                top: auto;
                width: 415px;
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: -14%;
            right: 7%;
            z-index: -1;
            @include for-xxl {
                top: -22%;
                right: 3%;
            }
            @include media-breakpoint-down(xxxl) {
                top: -22%;
                right: 0%;
            }
        }
        &-2 {
            position: absolute;
            top: 29%;
            left: -4%;
            z-index: -1;
        }
        &-3 {
            position: absolute;
            top: 29%;
            right: -4%;
            z-index: -1;
        }
    }
}