/***

====================================================================
  Contact
====================================================================

***/

// Contact Info Block
.contact-info-block{
  position: relative;
  margin-bottom: 20px;
  .inner{
    position: relative;
    padding-left: 110px;
    min-height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-xs{
      padding-left: 70px;
      min-height: auto;
    }
    &:hover{
      .icon{
        background-color: var(--theme-color-yellow);
        border-radius: 50%;
        color: var(--theme-color-dark);
      }
    }
  }
  .icon{
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    background-color: var(--theme-color1);
    color: #fff;
    font-size: 24px;
    line-height: 1em;
    @include flex-center;
    text-align: center;
    transition: all 300ms ease;
    @include for-xs{
      height: 50px;
      width: 50px;
      font-size: 20px;
    }
  }
  .title{
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #717070;
    font-weight: 500;
    margin-bottom: 7px;
  }
  .text{
    font-family: var(--text-font);
    font-size: 16px;
    line-height: 30px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
    a{
      color: inherit;
      font-weight: inherit;
      &:hover{
        color: var(--theme-color1);
      }
    }
  }
}

.contact-details__info {
  position: relative;
  display: block;
  margin-top: 41px;
  li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .icon {
      height: 80px;
      width: 80px;
      background-color: var(--theme-color1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      span {
        color: var(--theme-color-light);
        font-size: 25px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    }
    &:hover {
      .icon {
        background-color: var(--theme-color2);
        span {
          color: var(--theme-color-light);
        }
      }
      .text {
        a {
          color: var(--notech-base);
          span {
            color: var(--notech-gray);
          }
        }
      }
    }
    .text {
      margin-left: 30px;
      p {
        font-size: 14px;
        line-height: 24px;
      }
      a {
        font-size: 18px;
        color: var(--notech-black);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      span {
        font-size: 20px;
        color: var(--notech-black);
      }
    }
  }
  li+li {
    margin-top: 19px;
  }
}

.contact-form {
  background-color: var(--theme-color-white);
  border-radius: 50px;
  max-width: 737px;
  padding: 70px;
  position: relative;
  width: 100%;
  @media (max-width: 1299.98px) {
    padding: 50px 30px;
  }
  @include media-breakpoint-down(md){
    padding: 50px 30px;
  }
  @media (max-width: 399.98px) {
    border-radius: 0;
  }
  .form-group {
    position: relative;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    label{
      font-size: 16px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
    }
    input:not([type="submit"]),
    textarea,
    select {
      background-color: transparent;
      border: 1px solid rgba(var(--theme-color-black-rgb), 0.1);
      border-radius: 5px;
      color: var(--theme-color1);
      display: block;
      font-weight: 400;
      font-size: 14px;
      height: 60px;
      line-height: 29px;
      padding-left: 20px;
      position: relative;
      width: 100%;
      @include transition(all 300ms ease);
    }
    textarea {
      height: auto;
      min-height: 120px;
      padding-top: 20px;
    }
    ::-webkit-input-placeholder {
      color: var(--text-color4);
      font-family: var(--text-font);
    }
    input:focus,
    select:focus,
    textarea:focus {
      border-color: var(--theme-color1);
    }
  }
}


.map{
  height: 450px;
}