
/*** 

====================================================================
Page Title
====================================================================

***/
@-webkit-keyframes "ripple" {
  70% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes "ripple" {
  70% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.page-title {
  align-items: center;
  background-color: var(--theme-color2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: 450px;
  padding: 120px 0 0;
  position: relative;
  &:before{
    background: linear-gradient(180deg, rgba(17, 32, 33, 0.7), rgba(17, 32, 33, 0.6));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .title {
    font-size: 64px;
    color: var(--theme-color-white);
    margin-bottom: 17px;
    @media only screen and (max-width: 768px){
      font-size: 34px;
    }
  }
  .text {
    position: relative;
    color: var(--theme-color-white);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    max-width: 520px;
  }
}
.page-breadcrumb {
  margin-top: 5px;
  position: relative;
  li {
    color: var(--theme-color-white);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
    padding-right: 13px;
    position: relative;
    text-transform: capitalize;
    &:after {
      color: var(--theme-color-white);
      content: "\f105";
      font-family: 'Font Awesome 6 Pro';
      font-size: 14px;
      font-weight: 900;
      position: absolute;
      right: -6px;
      top: 1px;
    }
    &:last-child {
      &::after {
        display: none;
      }
      padding-right: 0px;
      margin-right: 0px;
    }
    a {
      color: var(--theme-color4);
      font-weight: 500;
      text-transform: capitalize;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        color: var(--theme-color-white);
      }
    }
  }
}
.page-title.style-two {
  background-position: center center;
  .page-breadcrumb-outer {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 8;
  }
  .page-breadcrumb {
    li {
      color: rgba(7, 7, 16, 1);
      font-weight: 600;
      &:after {
        color: rgba(7, 7, 16, 1);
      }
      a {
        color: rgba(7, 7, 16, .6);
        &:hover {
          color: rgba(7, 7, 16, 1);
        }
      }
    }
  }
}
.play-now {
  display: block;
  position: relative;
  z-index: 9;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  .icon {
    background-color: var(--theme-color-white);
    -webkit-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -ms-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    border-radius: 50%;
    color: #ff6d2e;
    display: block;
    font-size: 14px;
    height: 70px;
    line-height: 70px;
    padding-left: 0px;
    position: relative;
    text-align: center;
    width: 70px;
    z-index: 1;
  }
  .ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70px;
      width: 70px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -webkit-animation: ripple 3s infinite;
      animation: ripple 3s infinite;
      -webkit-animation-delay: .9s;
      animation-delay: .9s;
      content: "";
      position: absolute;
    }
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70px;
      width: 70px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -webkit-animation: ripple 3s infinite;
      animation: ripple 3s infinite;
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
      content: "";
      position: absolute;
    }
  }
}
.background-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}